.App {
  text-align: center;
}

.cardContainer {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: minmax(200px auto);
  gap: 2rem;
}

.image {
  border-radius: 1rem;
}
